*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.toaster {
    position: fixed;
    top: -1px;
    left: 100px;
    background: #fff;
    background: #e0ede0;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid green;
    border-radius: 0 0 4px 4px;
    /* display: none; */
}

form {
    margin: 60px 0 0;
}

div#root {
    padding: 0 30px;
}

ul li {
    padding: 7px;
}

button {
    margin-left: 9px;
}